<!DOCTYPE html>
<html lang="{{ site.lang }}" xml:lang="{{ site.lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/alex-nichols-small.jpg' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/default-out.css' | relative_url }}" />
    <script src="{{ '/assets/default.js' | relative_url }}"></script>

    {% seo %}

    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}', { 'anonymize_ip': true });
    </script>
    {% endif %}

</head>

<body class="bg-gray-900 text-gray-100">
    <nav class="flex items-center justify-between flex-wrap p-4 mx-2 lg:mx-16 border-b">
        <div class="flex items-center flex-shrink-0 mr-6">
            <span class="font-semibold text-xl tracking-tight">Alex Nichols</span>
        </div>
        <div class="block lg:hidden">
            <button type="button" id="nav-open" onclick="openNav()" class="flex items-center px-3 py-2 rounded">
                <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
            <button type="button" id="nav-close" onclick="closeNav()"
                class="flex items-center px-3 py-2 rounded hidden">
                <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Menu</title>
                    <path
                        d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z">
                    </path>
                </svg>
            </button>
        </div>
        <div id="nav-links" class="w-full hidden lg:block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="lg:flex-grow lg:text-center">
                <a href="{% link index.html %}"
                    class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-400 mr-4">Home</a>
                <a href="#products" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-400 mr-4">Products</a>
                <a href="{% link about.html %}"
                    class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-400 mr-4">About</a>
                <a href="https://alexcnichols.com" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-400">Blog
                    {% octicon link-external class:"h-4 pb-1 fill-current inline-block align-middle" %}</a>
            </div>
            <div>
                <a href="{% github_edit_link %}"
                    class="block mt-4 text-xs lg:inline-block lg:mt-0 lg:mr-6 hover:text-blue-400">{% octicon pencil class:"h-5 pb-1 mr-1 fill-current inline-block align-middle" %}
                    Improve this page</a>
            </div>
            <div>
                <a href="{% link contact.html %}"
                    class="inline-block px-4 py-2 leading-none border rounded border-blue-300 hover:border-transparent hover:text-gray-100 hover:bg-blue-400 mt-4 lg:mt-0">Contact</a>
            </div>
        </div>
    </nav>

    {{ content }}

</body>

</html>
<!-- Powered by GitHub Pages and Jekyll | Generated {{ site.time }} | Revision {{ site.github.build_revision }} -->
